@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i|Space+Mono:400,400i,700');

// Fonts
$body: "Rubik";
$heading: 'Space Mono';

body {
  font-family: $body, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  text-shadow: 1px 2px 1px $gold,
               0 0 0 $white,
               -1px 1px 0 $gold,
               0 1px 0 $white;
}
h1,
h2,
h3,{
  font-family: $heading, monospace;
  // text-transform: uppercase;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1rem;
}
